ACTION!="add|change|move|bind", GOTO="mm_eg91_uart1_end"
SUBSYSTEMS=="tty", DEVPATH=="/sys/devices/platform/soc/30800000.bus/30860000.serial"
LABEL="mm_eg91_uart1_end"

# Rule for ModemManager to handle the device on ttymxc1
ACTION=="add|change|move", SUBSYSTEM=="tty", KERNEL=="ttymxc0", ENV{ID_MM_DEVICE_PROCESS}="1", ENV{ID_MM_TTY_BAUDRATE}="115200", ENV{ID_MM_PORT_TYPE_AT_PPP}="1", ENV{ID_MM_TTY_FLOW_CONTROL}="rts-cts"