ACTION=="add|change", SUBSYSTEM=="tty", KERNEL=="ttyS0", ENV{ID_MM_CANDIDATE}="1", ENV{ID_MM_TTY_BAUDRATE}="115200", ENV{ID_MM_TTY_FLOW_CONTROL}="none"